@model WebLaptop.Models.FeedbackViewModel
@using BotDetect.Web.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section slideJS{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1i8MZU978BIgrKdmlZ7uwGv3T2sQF-M8"></script>
    <script src="~/Assets/client/js/contact.js"></script>
}
<style>
    #map {
        height: 450px;
    }
</style>
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
<input type="hidden" id="hiAddress" value="@Model.ContactDetailViewModel.Name <br/> Điện thoại: @Model.ContactDetailViewModel.Phone <br/> Địa chỉ: @Model.ContactDetailViewModel.Address" />
<input type="hidden" id="hilat" value="@Model.ContactDetailViewModel.Lat" />
<input type="hidden" id="hilng" value="@Model.ContactDetailViewModel.Lng" />
<input type="hidden" id="hiname" value="@Model.ContactDetailViewModel.Name" />

<div class="main">
    <address class="address">
        <p>Địa chỉ: @Model.ContactDetailViewModel.Address</p>
        <dl>
            <dt> </dt>
            <dd>Số điện thoại:<span> @Model.ContactDetailViewModel.Phone</span></dd>
            <dd>E-mail:&nbsp; <a href="@Model.ContactDetailViewModel.Email">@Model.ContactDetailViewModel.Email</a></dd>
        </dl>
    </address>
    <div class="clearfix"></div>
    <div id="map"></div>
    <div class="reservation_top">
        <div class=" contact_right">
            <h3>Liên hệ</h3>
            <div class="contact-form">
                @using (Html.BeginForm("SendFeedback", "Contact", FormMethod.Post))
                {
                    if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            <strong>Chúc mừng bạn</strong> @Model.Name gửi phản hồi thành công
                            <br />
                            Chúng tôi sẽ phản hồi sớm lại cho bạn qua địa chỉ email: @Model.Email
                        </div>
                    }
                    @Html.ValidationSummary(false, "")
                    <span>Tên</span>
                    @Html.TextBoxFor(model => model.Name, new { @class = "textbox" })
                    <span>Email</span>
                    @Html.TextBoxFor(model => model.Email, new { @class = "textbox" })
                    <span>Message</span>
                    @Html.TextAreaFor(model => model.Message)

                    MvcCaptcha contactCaptcha = new MvcCaptcha("ContactCaptcha");
                    contactCaptcha.UserInputID = "CaptchaCode";
                    @Html.Captcha(contactCaptcha)
                    @Html.TextBox("CaptchaCode")
                    <input type="submit" value="Gửi đi">
                    <div class="clearfix"> </div>
                }


            </div>
        </div>
    </div>
</div>

