@model WebLaptop.Models.RegisterViewModel
@using BotDetect.Web.Mvc;
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/client/css/custom.css" rel="stylesheet" />
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
<div class="register">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken() //ngăn chặn submit liên tục
        @Html.ValidationSummary(false, "", new { @class = "red" })
        if (TempData["Success"] != null)
        {
            <div class="alert alert-success" role="alert">
                <strong>Chúc mừng bạn</strong> đã đăng ký thành công
                <br />
                Vui lòng click vào <a href="/dang-nhap.html">đây</a> để đăng nhập
            </div>
        }
        <div class="register-top-grid">
            <h3>Thông tin cá nhân</h3>
            <div class="mation">
                <span>Họ tên<label class="red">*</label></span>
                @Html.TextBoxFor(model => model.FullName)
                <span>Email<label class="red">*</label></span>
                @Html.TextBoxFor(model => model.Email)
                <span>Địa chỉ</span>
                @Html.TextBoxFor(model => model.Address)
                <span>Số điện thoại<label class="red">*</label></span>
                @Html.TextBoxFor(model => model.PhoneNumber)
                <span>Tài khoản<label class="red">*</label></span>
                @Html.TextBoxFor(model => model.UserName)
                <span>Mật khẩu<label class="red">*</label></span>
                @Html.PasswordFor(model => model.PassWord)
                @{
                    MvcCaptcha registerCaptcha = new MvcCaptcha("RegisterCaptcha");
                }
                @Html.Captcha(registerCaptcha)
                @Html.TextBox("CaptchaCode")
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
        <div class="register-but">
            <input type="submit" value="submit">
            <div class="clearfix"> </div>
        </div>
    }
</div>

